
.container-general-home {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Color de fondo general */
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilo del contenedor de la navegación */
.container-nav-home {
    margin-bottom: 20px;
}

/* Estilo del título */
h1 {
    text-align: center;
    color: #333; /* Color del texto del título */
    margin-bottom: 20px;
    font-size: 2em;
}

.container-buttonAdd{
    margin-left: 15px;
}
